doctype html
html(lang='en')
    include ./views/head.jade
    body
      .preloader
        img(src='img/loader.gif', alt='', height=150)
      header#intro
        .container
          .table
            .header-text
              .row
                .col-md-12.text-center
                  h3.light.white LittleVR Planet
                  h1.white.typed VR low cost is here for the smallest.
                  span.typed-cursor |
                a.btn.btn-white-fill.expand(href='#services') Discover the project
      section.section
        .cut.cut-top
        .container
          .row.intro-tables
            .col-md-8
              .intro-table.intro-table-first
                //h5.white.heading Happy tittle for all
                .owl-testimonials.bottom
                  .item
                    h4.white.heading.content What is LittleVRPlanet?
                    h5.white.heading.light.author
                      | "LittleVRPlanet wants to offer the VR glass in low cost
                      | along with a wide platform full of educational and 
                      | entertainment content for kids."
                  .item
                    h4.white.heading.content How are we going to get?
                    h5.white.heading.light.author 
                      | We want to make it cheaper developing a mobile replacement
                      | device. Nowadays, smartphones with virtual reality support
                      | are expensive that’s why enjoying virtual reality is not
                      | allowed to everybody.
            .col-md-4
              .intro-table.intro-table-hover
                h5.white.heading.hide-hover Are you interested?
                .bottom
                  h4.white.heading.small-heading.no-margin.regular Register
                  h4.white.heading.small-pt for see the project evolution
                  a.btn.btn-white-fill.expand(data-toggle='modal', data-target='#modal1') 
                    | Request invite
      section#services.section
        .container
          .row.services
            include ./views/timeline.jade
        .cut.cut-bottom
      section#team.section.gray-bg
        .container
          .row.title.text-center
            h2.margin-top Team
            h4.light.muted We&apos;re a dream team!
          .row
            include ./views/team.jade
      section.section.section-padded.blue-bg
        .container
          .row
            .col-md-8.col-md-offset-2
              .owl-twitter.owl-carousel
                .item.text-center
                  //
                    i.icon.fa.fa-twitter
                    h4.white.light To enjoy the glow of good health, you must exercise.
                    h4.light-white.light #health #training #exercise
      #modal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content.modal-popup
            a.close-link(href='#')
              i.icon_close_alt2
            h3.white Sign Up
            form.popup-form(action='//littlevrplanet.us12.list-manage.com/subscribe/post?u=d507c6c880a4a47d80794c829&amp;id=bd5b812d92', method='post', id='mc-embedded-subscribe-form', name='mc-embedded-subscribe-form', class='validate', target='_blank', novalidate)
              input.form-control.form-white(type='email', value='', name='EMAIL', class='required email', id='mce-EMAIL', placeholder='Email Address')
              input.form-control.form-white(type='text', value='', name='FNAME', class='', id='mce-FNAME', placeholder='First Name')
              input.form-control.form-white(type='text', value='', name='LNAME', class='', id='mce-LNAME', placeholder='Last Name')
              .dropdown
                button#dLabel.form-control.form-white.dropdown(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Who are you?
                ul.dropdown-menu.animated.fadeIn(role='menu', aria-labelledby='dLabel')
                  li.animated.lightSpeedIn
                    a(href='#') Developer
                  li.animated.lightSpeedIn
                    a(href='#') VR fan
                  li.animated.lightSpeedIn
                    a(href='#') Press
              .checkbox-holder.text-left
                .checkbox
                  input#squaredOne(type='checkbox', value='None', name='check')
                  label(for='squaredOne')
                    span
                      | I Agree to the 
                      strong Terms &amp; Conditions
              button.btn.btn-submit(type='submit', value='Subscribe', name='subscribe', id='mc-embedded-subscribe', class='button') Submit
      footer
        .container
          .row.bottom-footer.text-center-mobile
            .col-sm-8
              p
                | &copy; 2015 LittleVR All Rights Reserved.
            .col-sm-4.text-right.text-center-mobile
              ul.social-footer
                //
                  li
                    a(href='http://www.facebook.com')
                      i.fa.fa-facebook
                li
                  a(href='http://www.twitter.com/littlevrplanet')
                    i.fa.fa-twitter
                li
                  a(href='https://plus.google.com')
                    i.fa.fa-google-plus
      // Holder for mobile navigation
      .mobile-nav
        ul
        a.close-link(href='#')
          i.arrow_up
      // Scripts
      include ./views/scripts.jade
