doctype html
html(lang='en')
  head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      
      title LittleVR planet
      
      link(rel='apple-touch-icon', sizes='57x57', href='img/favicons/apple-touch-icon-57x57.png')
      link(rel='apple-touch-icon', sizes='60x60', href='img/favicons/apple-touch-icon-60x60.png')
      link(rel='icon', type='image/png', href='img/favicons/favicon-32x32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='img/favicons/favicon-16x16.png', sizes='16x16')
      link(rel='manifest', href='img/favicons/manifest.json')
      link(rel='shortcut icon', href='img/favicons/favicon.ico')
      
      meta(name='msapplication-TileColor', content='#00a8ff')
      meta(name='msapplication-config', content='img/favicons/browserconfig.xml')
      meta(name='theme-color', content='#ffffff')
      
      // Normalize
      link(rel='stylesheet', type='text/css', href='css/normalize.css')
      // Bootstrap
      link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
      // Owl
      link(rel='stylesheet', type='text/css', href='css/owl.css')
      // Animate.css
      link(rel='stylesheet', type='text/css', href='css/animate.css')
      // Font Awesome
      link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.1.0/css/font-awesome.min.css')
      // Elegant Icons
      link(rel='stylesheet', type='text/css', href='fonts/eleganticons/et-icons.css')
      // Main style
      link(rel='stylesheet', type='text/css', href='css/cardio.css')
      link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='css/reset.css')
      link(rel='stylesheet', href='css/style-timeline.css')
      script(src='js/modernizr.js')
    body
      .preloader
        img(src='img/loader.gif', alt='', height=150)
      header#intro
        .container
          .table
            .header-text
              .row
                .col-md-12.text-center
                  h3.light.white LittleVR Planet
                  h1.white.typed VR low cost is here for the smallest.
                  span.typed-cursor |
                a.btn.btn-white-fill.expand(href='#services') Discover the project
      section.section
        .cut.cut-top
        .container
          .row.intro-tables
            .col-md-8
              .intro-table.intro-table-first
                //h5.white.heading Happy tittle for all
                .owl-testimonials.bottom
                  .item
                    h4.white.heading.content What is LittleVRPlanet?
                    h5.white.heading.light.author
                      | "LittleVRPlanet wants to offer the VR glass in low cost
                      | along with a wide platform full of educational and 
                      | entertainment content for kids."
                  .item
                    h4.white.heading.content How are we going to get?
                    h5.white.heading.light.author 
                      | We want to make it cheaper developing a mobile replacement
                      | device. Nowadays, smartphones with virtual reality support
                      | are expensive that’s why enjoying virtual reality is not
                      | allowed to everybody.
            .col-md-4
              .intro-table.intro-table-hover
                h5.white.heading.hide-hover Are you interested?
                .bottom
                  h4.white.heading.small-heading.no-margin.regular Register
                  h4.white.heading.small-pt for see the project evolution
                  a.btn.btn-white-fill.expand(data-toggle='modal', data-target='#modal1') 
                    | Request invite
      section#services.section
        .container
          .row.services
            h2.text-center Our goal
            section.cd-horizontal-timeline
              .timeline
                .events-wrapper
                  .events
                    ol
                      li
                        a(href='#0', data-date='20/12/2015') 20 Dec, 2015
                      li
                        a.selected(href='#0', data-date='31/01/2018') 
                          | 31 Jan, 2016
                      li
                        a(href='#0', data-date='28/02/2020') 28 Feb, 2016
                      li
                        a(href='#0', data-date='30/04/2023') 31 April, 2016
                      li
                        a(href='#0', data-date='30/05/2027') 30 May, 2016
                    span.filling-line(aria-hidden='true')
                  // .events
                // .events-wrapper
                ul.cd-timeline-navigation
                  li
                    a.prev.inactive(href='#0') Prev
                  li
                    a.next(href='#0') Next
                // .cd-timeline-navigation
              // .timeline
              .events-content
                ol
                  li(data-date='20/12/2015')
                    h2 Start Project
                    em Dicember 20th, 2014
                    p
                      | This day begins the project, sharing the idea with the 
                      | founders and contacts will begin to implement it.
                  li.selected(data-date='31/01/2018')
                    h2 Launch personal brand
                    em January 31th, 2014
                    p
                      | This is the day that marks the LittleBigPlanet takes 
                      | shape, logo, web, values ... everything will be presented
                      | to users, what impact will our little project? What is
                      | the impact?
                  li(data-date='28/02/2020')
                    h2 Presentation Prototype design
                    em Febrary 28th, 2014
                    p
                      | Now we present the design of the prototype of the LittleVR,
                      | the first virtual reality glasses whose price does not 
                      | exceed € 70 .How it be? Are you the longer you imagine?
                  li(data-date='30/04/2023')
                    h2 Presentation Prototype device
                    em April 31th, 2014
                    p
                      | We are about to reach our goal, and now it will present 
                      | what the brains of LittleVR a hardware that promises to
                      | give maximum performance at minimum cost possible.
                  li(data-date='30/05/2027')
                    h2 Launch KickStarter
                    em May 30th, 2014
                    p
                      | The real test begins, will we get the investment we hope
                      | to raise Kickstarter?
              // .events-content
        .cut.cut-bottom
      section#team.section.gray-bg
        .container
          .row.title.text-center
            h2.margin-top Team
            h4.light.muted We&apos;re a dream team!
          .row
            .col-md-4
              .team.text-center
                .cover(style="background:url('img/team/team-cover-borja.jpg'); background-size:cover;")
                  .overlay.text-center
                    h3.white Hard-worker
                    h5.light.light-white sometimes
                img.avatar(src='img/team/borja-godoy.jpg', alt='Team Image', height='120', width='120')
                .title
                  h4 Borja Godoy
                  h5.muted.regular CEO and Co-founder
            .col-md-4
              .team.text-center
                .cover(style="background:url('img/team/team-cover-oscar.jpg'); background-size:cover;")
                  .overlay.text-center
                    h3.white Friendly
                    h5.light.light-white sometimes
                img.avatar(src='img/team/oscar-caballero.jpg', alt='Team Image', height='120', width='120')
                .title
                  h4 Oscar Caballero
                  h5.muted.regular CTO and Co-founder
                //a.btn.btn-blue-fill.ripple(href='#', data-toggle='modal', data-target='#modal1') Sign Up Now
      section.section.section-padded.blue-bg
        .container
          .row
            .col-md-8.col-md-offset-2
              .owl-twitter.owl-carousel
                .item.text-center
                  //
                    i.icon.fa.fa-twitter
                    h4.white.light To enjoy the glow of good health, you must exercise.
                    h4.light-white.light #health #training #exercise
      #modal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content.modal-popup
            a.close-link(href='#')
              i.icon_close_alt2
            h3.white Sign Up
            form.popup-form(action='//littlevrplanet.us12.list-manage.com/subscribe/post?u=d507c6c880a4a47d80794c829&amp;id=bd5b812d92', method='post', id='mc-embedded-subscribe-form', name='mc-embedded-subscribe-form', class='validate', target='_blank', novalidate)
              input.form-control.form-white(type='email', value='', name='EMAIL', class='required email', id='mce-EMAIL', placeholder='Email Address')
              input.form-control.form-white(type='text', value='', name='FNAME', class='', id='mce-FNAME', placeholder='First Name')
              input.form-control.form-white(type='text', value='', name='LNAME', class='', id='mce-LNAME', placeholder='Last Name')
              .dropdown
                button#dLabel.form-control.form-white.dropdown(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Who are you?
                ul.dropdown-menu.animated.fadeIn(role='menu', aria-labelledby='dLabel')
                  li.animated.lightSpeedIn
                    a(href='#') Developer
                  li.animated.lightSpeedIn
                    a(href='#') VR fan
                  li.animated.lightSpeedIn
                    a(href='#') Press
              .checkbox-holder.text-left
                .checkbox
                  input#squaredOne(type='checkbox', value='None', name='check')
                  label(for='squaredOne')
                    span
                      | I Agree to the 
                      strong Terms &amp; Conditions
              button.btn.btn-submit(type='submit', value='Subscribe', name='subscribe', id='mc-embedded-subscribe', class='button') Submit
      footer
        .container
          .row.bottom-footer.text-center-mobile
            .col-sm-8
              p
                | &copy; 2015 LittleVR All Rights Reserved.
            .col-sm-4.text-right.text-center-mobile
              ul.social-footer
                //
                  li
                    a(href='http://www.facebook.com')
                      i.fa.fa-facebook
                li
                  a(href='http://www.twitter.com/littlevrplanet')
                    i.fa.fa-twitter
                li
                  a(href='https://plus.google.com')
                    i.fa.fa-google-plus
      // Holder for mobile navigation
      .mobile-nav
        ul
        a.close-link(href='#')
          i.arrow_up
      // Scripts
      script(src='js/jquery-1.11.1.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/wow.min.js')
      script(src='js/typewriter.js')
      script(src='js/jquery.onepagenav.js')
      script(src='js/tweetie.min.js')
      script(src='js/main.js')
      script(src='js/jquery-2.1.4.js')
      script(src='js/jquery.mobile.custom.min.js')
      script(src='js/timeline.js')
