.col-md-4
  .team.text-center
    .cover(style="background:url('img/team/team-cover-borja.jpg'); background-size:cover;")
      .overlay.text-center
        h3.white Hard-worker
        h5.light.light-white sometimes
    img.avatar(src='img/team/borja-godoy.jpg', alt='Team Image', height='120', width='120')
    .title
      h4 Borja Godoy
      h5.muted.regular CEO and Co-founder
.col-md-4
  .team.text-center
    .cover(style="background:url('img/team/team-cover-oscar.jpg'); background-size:cover;")
      .overlay.text-center
        h3.white Friendly
        h5.light.light-white sometimes
    img.avatar(src='img/team/oscar-caballero.jpg', alt='Team Image', height='120', width='120')
    .title
      h4 Oscar Caballero
      h5.muted.regular CTO and Co-founder
    //a.btn.btn-blue-fill.ripple(href='#', data-toggle='modal', data-target='#modal1') Sign Up Now
